<table>
<tr>
	<%@attributes.each do |att|%>
<th>
<%=att%>
</th>
<%end%>
</tr>
	<%@data.each do |coin| %>
<tr>
	<%@attributes.each do |key|%>
<td>
<%=coin[key]%>
</td>
<%end%>
		</tr>
	<%end%>
</table>
