<table>
<tr>
	<%@attributes.each do |att|%>
<th>
<%=att%>
</th>
<%end%>

</tr>
	<%@data.each do |key, value| %>
<tr>
	<%@attributes.each do |att|%>
<td>
<%=value[att]%>
</td>
<%end%>
		</tr>
	<%end%>
</table>
